@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* =========================
   THEME VARIABLES
========================= */

/* Light Theme (Default) */
:root {
    --primary-color: #2563EB;
    --text-color: #000000CC;
}

/* Dark Theme */
[data-theme="dark"] {
    --primary-color: #2563EB;
}
/* ==============================
   GLOBAL STYLES
============================== */

body {
    margin: 0;
    font-family: "Figtree", sans-serif !important;
    background-color: #f8f8f8;
}
/*================================
    COMMAN STYLE
===================================*/
.ans-mb-12
{
    margin-bottom: 12px;
}
.ans-mb-30 {
    margin-bottom: 30px;
}
.ans-big-title {
    color: var(--primary-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ans-para {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ans-label {
    color: rgba(9, 22, 51, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ans-text-box .e-input-group {
    background-color: transparent !important;
    border: none !important;
}
.ans-text-box .e-input-group.e-input-focus
{
    box-shadow: none !important;
}
.ans-text-box .e-input-group input.e-input {
    border-radius: 12px !important;
    background: rgba(234, 234, 234, 0.70);
    height: 40px !important;
    padding: 8px 14px !important;
    width: 100%;
    border: none;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
.ans-text-box.ans-reduce-radius .e-input-group input.e-input
{
    border-radius: 6px !important;
}
.ans-textarea-box
{
    width: 100%;
}
.ans-textarea-box .e-input-group {
    background-color: transparent !important;
    border: none !important;
}
.ans-textarea-box .e-input-group textarea.e-input {
    border-radius: 6px !important;
    background: rgba(234, 234, 234, 0.70) !important;
    width: 100%;
    border: none;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
.ans-filter-btn {
    border-radius: 12px;
    border: 1px solid rgba(9, 22, 51, 0.50);
    background: #FFF;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 38px;
    padding: 8px 16px;
    align-items: center;
    gap: 6px;
    color: rgba(9, 22, 51, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ans-export-btn {
    border-radius: 12px;
    background: var(--primary-color);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 38px;
    padding: 8px 16px;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.ans-page-title {
    color: #091633;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ans-page-title span
{
    color: var(--primary-color);
}
.ans-card-container {
    border-radius: 12px;
    border: 1px solid rgba(37, 99, 235, 0.20);
    background: #FFF;
    box-shadow: 0 0 125px 0 rgba(0, 0, 0, 0.10);
    padding: 12px;
}
.ans-sub-card-container {
    border-radius: 12px;
    background: #F5F5F5;
    padding: 12px;
}
.ans-card-title {
    color: #091633;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ans-border {
    opacity: 0.5;
    background: rgba(9, 22, 51, 0.20);
    height: 1px;
    width: 100%;
    margin: 10px 0px;
}
.ans-switch-btn.e-switch-wrapper .e-switch-inner.e-switch-active {
    background-color: #16A34A !important;
    border: 1px solid #16A34A !important;
}
.ans-switch-btn.e-switch-wrapper .e-switch-on {
    background-color: #16A34A !important;
    font-weight: 400;
    margin-top: -1px;
}
.ans-switch-btn.e-switch-wrapper .e-switch-off {
    font-weight: 400;
    margin-top: -1px;
}
.ans-mini-card-container {
    border-radius: 6px;
    border: 1px solid rgba(9, 22, 51, 0.10);
}
.ans-mini-card-container .ans-mini-card-header
{
    background: rgba(37, 99, 235, 0.05);
    padding: 8px 12px;
}
.ans-mini-card-container .ans-mini-card-body
{
    padding: 8px 12px;
}
.ans-mini-card-container .ans-mini-card-header .ans-mini-card-header-title {
    color: #091633;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2px;
}
.ans-mini-card-container .ans-mini-card-header .ans-mini-card-header-para
{
    color: #09163380;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ans-mini-card-list-label {
    color: #091633B2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ans-primary-button.smal-size {
    border-radius: 12px;
    background: var(--primary-color);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 34px !important;
    padding: 6px 24px !important;
    align-items: center;
    gap: 6px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.ans-primary-button {
    border-radius: 12px;
    background: var(--primary-color);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 40px;
    padding: 8px 24px;
    align-items: center;
    gap: 6px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.ans-primary-button:disabled,
.ans-primary-button.disabled {
    background: #cfd6e4; /* muted color */
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.8;
    box-shadow: none;
    border: none;
}
.ans-finish-button {
    border-radius: 12px;
    background: var(--primary-color);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 40px;
    padding: 8px 24px;
    align-items: center;
    gap: 6px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.ans-finish-button:disabled,
.ans-finish-button.disabled {
    background: #cfd6e4; /* muted color */
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.8;
    box-shadow: none;
    border: none;
}
.ans-secondary-button {
    border-radius: 12px;
    border: 1px solid rgba(9, 22, 51, 0.50);
    background: #FFF;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 40px;
    padding: 8px 24px;
    align-items: center;
    gap: 6px;
    color: #091633B2;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ans-secondary-button.smal-size {
    border-radius: 12px;
    border: 1px solid rgba(9, 22, 51, 0.50);
    background: #FFF;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    height: 34px !important;
    padding: 6px 24px !important;
    align-items: center;
    gap: 6px;
    color: #091633B2;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ans-secondary-button:disabled,
.ans-secondary-button.disabled {
    background: #f3f5f9;
    color: #9aa4b2; /* muted text */
    border: 1px solid #d6dbe6;
    cursor: not-allowed;
    opacity: 0.8;
    box-shadow: none;
}
.ans-edit-btn {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 6px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 50px;
    flex-shrink: 0;
}
.ans-search-box {
    display: flex;
    height: 38px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: rgba(234, 234, 234, 0.70);
}
.ans-search-box .e-input-group
{
    background: transparent !important;
    border: none !important; 
}
.ans-search-box .e-input-group.e-input-focus {
    box-shadow: none !important;
}

.ans-search-box .e-input-group input.e-input {
    background: transparent !important;
    height: 38px !important;
    padding: 5px 0px !important;
    width: 100%;
    border: none;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
/*===============================
    Login Page
=================================*/
.ans-validation-error-msg {
    color: red !important;
    font-size: 13px !important;
    margin: 3px 0px;
}
.ans-login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background: #F8F8F8;
}
.ans-lgon-btn {
    display: flex;
    height: 49px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--primary-color);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: none !important;
    margin-top: 30px;
}
.ans-lgon-btn:hover,
.ans-lgon-btn:focus
{
    background: var(--primary-color) !important;
}
.ans-login-footer {
    position: absolute;
    bottom: 12px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/*===================
    Header    
====================*/
.nav-search {
    display: inline-flex;
    background: #FFFFFF1A !important;
/*    border: 1px solid rgba(255,255,255,.18) !important;*/
    width: 250px !important;
    height: 38px;
    align-items: center;
    border-radius: 12px;
}
.nav-search img
{
    width: 20px;
    position: relative;
    left: 8px;
}
.nav-search .e-input-group input.e-input {
    background: transparent !important;
    padding: 5px 12px !important;
    color: rgba(255,255,255,.6);
    font-size: 13px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}
.nav-search .e-input-group {
    background: transparent !important;
    border: none !important;
    padding: 0px 6px !important;
    box-shadow: none !important;
}
/* Placeholder color */
.nav-search .e-input-group input.e-input::placeholder {
    color: #ffffff !important;
    opacity: 1; /* Important for some browsers */
}

/* For Edge / old browser support (optional but safe) */
.nav-search .e-input-group input.e-input::-ms-input-placeholder {
    color: #ffffff !important;
}

.nav-search .e-input-group input.e-input::-webkit-input-placeholder {
    color: #ffffff !important;
}
/*===================
    Page Layout    
====================*/
.ans-page {
    margin: 0 auto;
    padding: 20px 20px 30px;
    background-color: #f8f8f8;
}
/*====================
    Stepper Navigatuon
====================*/

/* ── Navigation ── */
.stepper-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 18px;
}

.step-indicator {
    font-size: 12.5px;
    color: #8898bb;
    font-weight: 500;
}

.nav-btns { display: flex; gap: 10px; }
/*===============
    Footer
 =============*/
.ans-footer-content {
    color: rgba(0, 0, 0, 0.50);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    bottom: 10px;
    text-align: center;
    margin: 10px 20px;
}

.ans-attach-file-list
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ans-attach-file-list li
{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    border-radius: 6px;
    background: rgba(234, 234, 234, 0.70);
    height: 40px;
    padding: 12px;
    align-items: center;
    margin-bottom: 10px;
}
.ans-file-container .ans-file-name {
    color: rgba(9, 22, 51, 0.70);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ans-file-container .ans-file-status {
    color: #16A34A;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cursor-pointer
{
    cursor: pointer !important;
}